<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <title>Главная страница</title>
</head>
<body class="bodys">
<div class="container-fluid">
    <nav class="navbar navbar-light" style="background: #26A9E0">
        <div class="container-fluid">
            <a class="navbar-brand"  href="/">
                <img th:src="@{/img/book.png}" style="margin: auto" alt="" width="80" height="80"/>
                <h2 style="color: white">BookStore</h2>
            </a>
            <div class="d-inline-flex align-items-center">
                <a class="list-group-item list-group-itemprimary item hrefitem" style="margin-left: 10px" href="/Book">Книги</a>
                <a class="list-group-item list-group-iteminfo item hrefitem" style="margin-left: 10px"  href="/Customer">Покупатели</a>
                <a class="list-group-item list-group-iteminfo item hrefitem"  style="margin-left: 10px" href="/Sale">Продавцы</a>
                <a class="list-group-item list-group-iteminfo item hrefitem" style="margin-left: 10px"  href="/Delivery">Заказы</a>
                <form th:action="@{/logout}" method="post">
                    <button class="list-group-item list-group-iteminfo item hrefitem" style="margin-left: 10px" th:text="${account}" type="submit"></button>
                </form>
            </div>
        </div>
    </nav>
</div>
<div class="align-items-center p-3">
<h2 class="text-center">Добро пожаловать</h2>
<h3 class="text-center">Данная система разработана в рамках курсового проекта <br> и реализует ведение информации о книгах, покупателях, продавцах и заказах</h3>
</div>
</body>
</html>